.btn-facebook {
	  background: #3B5998;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #263961; 
	}
.btn-linkedin {
	background:  #0084bf;
	border-radius: 0;
	color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #263961;
}

.btn-linkedin:link, .btn-linkedin:visited {
	color: #fff;
}
.btn-linkedin:active, .btn-linkedin:hover {
	background: #0084bf;
	color: #fff;
}

	.btn-facebook:link, .btn-facebook:visited {
	  color: #fff;
	}
	.btn-facebook:active, .btn-facebook:hover {
	  background: #263961;
	  color: #fff;
	}
